@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

// Color variables
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

// Mixins
@mixin btn($color) {
  background-color: $color;
  border-bottom: 0.2rem solid darken($color, 10%);
  box-shadow: 0 0.3rem 1rem lighten($color, 23%);
  transition: all 0.3s;

  &:hover {
    background-color: lighten($color, 10%);
    border-bottom-color: lighten($color, 5%);
  }
}

@mixin grid-layout($cols) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  column-gap: 2rem;
  max-width: 74rem;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
}

// Global resets
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}

h3 {
  color: $dark-grayish-blue;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

// Reusable classes
.action-btns {
  margin: 0 auto;
  display: flex;
  gap: 1.2rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 2rem;
    border-radius: 50rem;
    color: hsl(0, 0%, 100%);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    &.green {
      @include btn($strong-cyan);
    }

    &.blue {
      @include btn($light-blue);
    }
  }
}

// Page styles
body {
  font-size: 1.125rem;
  font-family: "Bai Jamjuree", sans-serif;
  line-height: 1.8;
}

.main-header {
  background: url("../images/bg-header-desktop.png") no-repeat center top;
  height: 100vh;
  padding-bottom: 5vh;
  display: grid;
  align-content: center;
  justify-content: center;
  text-align: center;

  img {
    margin: 0 auto 9vh;
  }

  h1 {
    font-size: 2.7rem;
    color: $dark-grayish-blue;
    margin-bottom: 2vh;
  }

  p {
    font-size: 1.2rem;
    color: $grayish-blue;
    width: 43rem;
    margin: 0 auto 7vh;
  }
}

section {
  margin-top: 7rem;

  &:first-of-type {
    margin-top: 3rem;
  }

  header {
    margin: 0 auto 4.5rem;
    width: 43rem;
    text-align: center;

    &.cta-header {
      margin-bottom: 3rem;
    }

    h2 {
      color: $dark-grayish-blue;
      font-size: 2.1rem;
      margin-bottom: 1rem;
    }

    p {
      color: $grayish-blue;
    }
  }

  .section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;

    img {
      width: 107%;
      margin-left: -7%;
    }

    ul {
      padding: 0 35% 0 7rem;
      display: grid;
      place-content: center;
      row-gap: 3rem;

      li {
        p {
          font-size: 1rem;
          color: $grayish-blue;
        }
      }
    }
  }

  .section-2 {
    img {
      display: block;
      max-width: 90%;
      margin: 0 auto -2rem;
    }
  }

  .section-3 {
    ul {
      @include grid-layout(3);

      li {
        padding-top: 4.5rem;
        position: relative;

        img {
          position: absolute;
          top: 0;
          right: 50%;
          transform: translateX(50%);
        }

        p {
          font-size: 1rem;
          color: $grayish-blue;
        }
      }
    }
  }

  .section-4 {
    @include grid-layout(5);
    align-items: center;
    justify-items: center;
  }

  .section-5 {
    width: fit-content;
    margin: 0 auto;
  }
}

footer {
  // Don't forget to do the active states.
  background-color: hsl(220, 18%, 97%);
  margin-top: 10rem;

  .footer-container {
    // Adjust the gaps once .social is fixed.
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 2.7rem;
    max-width: 74rem;
    align-items: center;

    img {
      height: 4rem;
    }

    .links {
      height: 4.8rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .social {
      display: flex;
      gap: 2rem;
      // Get these to be smaller. Images don't fit right.
    }
  }
}
